.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0 0 0;
}

.about-me-parent {
    max-width: 1000px;
    width: 70%;
}

.about-me-card {
    display: flex;
    width: 100%;
    box-shadow: 0 0 20px -2px #1f2235;
}

.about-me-profile {
    width: 50%;
    background-image: url("../../assets/AboutMe/bgg1.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}

.about-me-details {
    width: 48%;
    text-align: center;
    padding: 30px;
}

.about-me-description {
    font-size: 14px;
}

.about-me-highlights {
    margin: 80px 0;
}

.highlight-heading{
    font-family: "Poppins Bold";
    font-size: 18px;
    margin: 0 0px 5px 0;
    text-align: start;
}

.highlight{
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-size: 14px;
}

.highlight-blob{
    height: 12px;
    width: 12px;
    margin: 0 10px 0 0;
    background-color: #ff5823;
    border-radius: 50%;
}

.about-me-option .highlighted-btn{
    margin: 0 0 0 30px;
}


@media only screen and (max-width:1100px){
    .about-me-parent{
        width: 88%;
    }
}

@media only screen and (max-width:898px){
    .about-me-profile{
        display: none;
    }

    .about-me-details{
        width: 100%;
    }
}

@media only screen and (max-width:466px){
    .about-me-option{
        display: flex;
        flex-direction: column;
    }

    .about-me-option .highlighted-btn{
        margin: 24px 0 0 0 !important;
    }

    .about-me-option button{
        width: 100%;
    }
}
















